
<div class="modal fade AlignCenter chooseFlow" tabindex="-1" role="dialog" aria-labelledby="chooseFlow" aria-hidden="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header CJHeader">
        <button  type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div> <span class="CJpopupTitle1 scrib-x6"> Choose the type of Workflow</span> 
         </div>
      </div>
      <div class="model-inner-content">
        <div class="boxes zerospace minhBox">
          
        <div class="radio">
          <label><input type="radio" name="optradio" value="static" checked="true">Simple Static Workflow</label>
          <div>
          <i style="opacity:0.5;">  Need to define who are the approvers. </i>
        </div> 
          </div>
        </div>
        <div class="boxes zerospace minhBox">
                  
          
          <div class="radio">
          <label><input type="radio" name="optradio" value="dynamic" >Simple Dynamic Workflow</label>
          <div>
          <i style="opacity:0.5;">  User defines who are the approvers.</i>
        </div>
      </div>

        </div>

        <div class="boxes zerospace minhBox">

         
        <div class="radio">
          <label><input type="radio" name="optradio" value="complex" >Complex Workflow</label>  
          <div> <i style="opacity:0.5;">  Define who are the approvers and the transitions.</i></div>
        </div> 
          
        </div>

     
        <button id="ravi" class="lbButton" onclick="checking()"data-dismiss="modal" aria-hidden="true" data-toggle="modal" data-target=".createFlow">Continue</button>
      </div>
      
    </div>
    
  </div>
 
</div>


<div class="modal fade AlignCenter createFlow" tabindex="-1" role="dialog" aria-labelledby="createFlow" aria-hidden="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header CJHeader">
        <button  type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div> <span class="CJpopupTitle1 scrib-x6">Create new Workflow</span> 
         </div>
      </div>
      <div class="model-inner-content">
      	<form name="myForm" id = "add-new-flow" > 
        <div class="boxes zerospace minhBox">
          <input type="text" class="cj-headertitle mrgtop cjText" required= ""name="title" placeholder="Workflow title"  autofocus/>
        </div>
        <div class="boxes zerospace minhBox">
          <input type="text" class="cj-headertitle mrgtop cjText" name="description" placeholder="Add the description of this workflow" autofocus/>
        </div>
        <div class="boxes zerospace minhBox">
          <span style="position:relative;left:5px;">
			<img src="/assets/images/greendot.png" width="2%"alt="Start"/> <i style="opacity:0.5;font-size:12px;">Start</i>
        </span><br>
      <ul id="myList">
         
        <li id="line">
          <img width="3%" alt="Stage" style="margin:2px;padding:1px;"src="/assets/images/down.png"><br>
          <img width="2%" alt="Stage" style="margin:5px;padding:1px;"src="/assets/images/greydot.jpg">
          <input type="text" name="stagename" required=""placeholder="Enter Stage Name" style="padding:4px;"/>
          <input type="text"name="approvername" required=""placeholder="Enter Approver Name"  style="padding:4px;margin-left:51px;"/>
          <div class="deleteMe1"style="float:right;"><button onclick="removeFunction()">x</button></div>
        </li>
        
      </ul>

<div id="problem"><button id = "adder"type="submit" onclick="addFunction()"class="btn btn-primary btn-sm" style="position:relative; float:right; bottom:25px;padding:2px;">Add more Approvers</button></div>

<img width="3%" alt="Stage" style="margin:2px;padding:1px;"src="/assets/images/down.png"><br>
          <span>
        <img src="/assets/images/reddot.png" width="4%"alt="Stop">  <i style="opacity:0.5;font-size:12px;">Stop</i>
        </span>

         
        </div>
      
        <div class="clearfix"></div>

        <input type="submit" class="lbButton" value="Save" >
        <!--class="lbButton" data-dismiss="modal" aria-hidden="true" >-->
         
        <div class="clearfix"></div>
    </form>
    
      </div>
      
    </div>
    
  </div>
 
</div>

<!--End of creating workflow-->

<!--dynamic workflow creation-->

<div class="modal fade AlignCenter dynamicFlow" tabindex="-1" role="dialog" aria-labelledby="dynamicFlow" aria-hidden="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header CJHeader">
        <button  type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div> <span class="CJpopupTitle1 scrib-x6">Create New Workflow</span> 
         </div>
      </div>
      <div class="model-inner-content">
      	<form name="myForm" onsubmit="return validateForm()" method="post">
         <div class="boxes zerospace minhBox">
          <input type="text" class="cj-headertitle mrgtop cjText" name="title"placeholder="Workflow title" autofocus/>
        </div>
        <div class="boxes zerospace minhBox">
          <input type="text" class="cj-headertitle mrgtop cjText" name="description" placeholder="Add the description of this workflow" autofocus/>
        </div>

         
        
		</form>
        <div class="boxes zerospace minhBox">
        <div class="clearfix"></div>
        <input type="submit" value="Save"class="lbButton" data-dismiss="modal" aria-hidden="true" >
       
       
        <div class="clearfix"></div>
      </div>
      
    </div>
    
  </div>
 
</div>
</div>

