<!--Code for model pop up seeing leave form -->
<div class="modal fade AlignCenter createJourney_leaveform" tabindex="-1" role="dialog" aria-labelledby="creatJourney" aria-hidden="false">
  <div id="leave">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header CJHeader">
        <button  type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>


        <span>
          <h4 class="modal-title myModalLabel"><span class="CJpopupTitle1 scrib-x6">Apply a Leave Application with in </span>
     <b> <span id="dyna_create_leaveform_selectedActivity" class="CJpopupTitle2 tipLink scrib-x6 scrib-title-hover"  >Activity 01</span> </b></h4>
      </span>
      </div>
      <div class="model-inner-content">
        <form name="myLeave" id = "new-leave-form" > 
        
        <div class="boxes zerospace minhBox">
          <input type="text" name="typeofleave" id="dyna_create_leaveform_title" class="cj-headertitle mrgtop cjText" placeholder="Type of leave" />
        </div>
        <div class="boxes zerospace minhBox">
          <input type="text" name="purposeofleave" id="dyna_create_leaveform_purpose" class="cj-headertitle mrgtop cjText" placeholder="Purpose of leave" />
        </div>
        <div class="boxes zerospace minhBox">
      <div style="position:relative;margin-top:10px;right:15px;">
          <span class="calenderCont pull-left"> 
            <span class="CalDuedate"> 
              <span class="text-muted"> From: 
              </span> 
              <span style="position:relative;margin-left:20px;">
                <input type="text" name="fromdate" id="dyna_create_leaveform_startleave" placeholder="Select date" class="MidSpace2 datepicker">
              </span> 
            </span> 
           
            <span class="CalDuedate"> 
              <span class="text-muted">To:
              </span> 
              <span class="pull-right"style="position:relative;margin-right:-100px;">
                <input type="text" name="todate" id="dyna_create_leaveform_dueleave" class="MidSpace2 datepicker" placeholder="Select date">
</span> 
            </span> 
          </span>
          <div class="clearfix"></div>
  </div>
      </div>
      <div class="boxes zerospace minhBox">
        <input type="text" name="descriptionofleave" id="dyna_create_leaveform_descrip" class="cj-headertitle mrgtop cjText" placeholder="Description" />
        <div class="clearfix"></div>
      </div>
      
      

      <div class="clearfix"></div>
    <button  class="lbButton"  onclick="javascript:createTile('leaveform')" id="dyna_create_leaveform_submit" >Submit
       </button>
          
       </form>
       
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
</div>
<!--end of their pop up-->
