<div class="modal fade AlignCenter createJourney_recruitmentform" tabindex="-1" role="dialog" aria-labelledby="creatForm" aria-hidden="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header CJHeader">
        <button  type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <span>
          <h4 class="modal-title myModalLabel"><span class="CJpopupTitle1 scrib-x6">Submit a Recruitment Form with in </span>
     <b> <span id="dyna_create_recruitmentform_selectedActivity" class="CJpopupTitle2 tipLink scrib-x6 scrib-title-hover"  >Activity 01</span> </b></h4>
      </span>
      </div>
      <div class="model-inner-content">
          
        <div class="boxes zerospace minhBox">
            <input  type="text"  id="dyna_create_recruitmentform_title" class="cj-headertitle mrgtop cjText" name="name" placeholder="Name of Applicant" autofocus/>
          </div>
          <div class="boxes zerospace minhBox">
            <input type="text" id="dyna_create_recruitmentform_skill" class="cj-headertitle mrgtop cjText" name="skillset"  placeholder="Skill - Set of Applicant" autofocus/>
          </div>
          <div class="boxes zerospace minhBox">
            <input type="text"  id="dyna_create_recruitmentform_experience"  class="cj-headertitle mrgtop cjText" name="experience"  placeholder=" Number of Years of Experience" autofocus/>
          </div>
          <div class="boxes zerospace minhBox">
            <input type="text" id="dyna_create_recruitmentform_contactnumber"  class="cj-headertitle mrgtop cjText" name="contactnumber" placeholder="Contact Number" autofocus/>
          </div>
         
      
      <div class="boxes zerospace minhBox">
      <span style="position:relative;left:5px;">
        <img src="/assets/images/greendot.png" width="2%"alt="Start"/> <i style="opacity:0.5;font-size:10px;">Start</i>
      </span><br>
      <ul id="lists">
        <li id="lines">
          <img width="3%" alt="Stage" style="margin:3px;padding:2px;"src="/assets/images/down.png"><br>
          <img width="2%" alt="Stage" style="margin:5px;padding:1px;"src="/assets/images/greydot.jpg">
          <input type="text" id="dyna_create_recruitmentform_stage"  placeholder=" Stage Name" name="stage"  style="padding:4px;" autofocus/>
          <input type="text" id="dyna_create_recruitmentform_approver"  placeholder="Enter Approver Name" name="approver" style="padding:4px;margin-left:51px;" autofocus/>
          <div class="deleteMe1"style="float:right;"><button onclick="remover()">x</button></div>
        </li>
      </ul>

<div id="recruitmentadd">

  <button id = "add" type="submit" onclick="adder()"class="btn btn-primary btn-sm" style="position:relative; float:right; bottom:25px;padding:2px;">Add more Approvers</button>

</div>

<img width="3%" alt="Stage" style="margin:2px;padding:1px;"src="/assets/images/down.png"><br>
          <span>
        <img src="/assets/images/reddot.png" width="4%"alt="Stop">  <i style="opacity:0.5;font-size:10px;">Stop</i>
        </span>

         
        </div>
      
        <div class="clearfix"></div>
        
        <button id="dyna_create_recruitmentform_submit" onclick="javascript:createTile('recruitmentform')"  class="lbButton" value="Save" >Save
       </button>
        
        <div class="clearfix"></div>
      
      </div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

