<div class="modal fade AlignCenter createJourney_expensereport" tabindex="-1" role="dialog" aria-labelledby="creatJourney" aria-hidden="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header CJHeader">
        <button  type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
               <span>
          <h4 class="modal-title myModalLabel"><span class="CJpopupTitle1 scrib-x6">Submit a Expense Report with in </span>
     <b> <span id="dyna_create_expensereport_selectedActivity" class="CJpopupTitle2 tipLink scrib-x6 scrib-title-hover"  >Activity 01</span> </b></h4>
      </span>
      </div>
      <div class="model-inner-content">
      
        
        <div class="boxes zerospace minhBox">
        <div style="position:relative;margin-top:10px;right:15px;">
          <span class="calenderCont pull-left"> 
            <span class="CalDuedate"> 
              <span class="text-muted"> Date: 
              </span> 
              <span style="position:relative;margin-left:20px;">
                <input type="date" name="fromdate" id="dyna_create_expensereport_expensedate" placeholder="Select date" class="MidSpace2 datepicker">
              </span> 
            </span> 
          </span>
          <div class="clearfix"></div>
      </div>
      </div>

      <div class="boxes zerospace minhBox">
        <input type="text" name="descriptionofexpense" id="dyna_create_expensereport_reason" class="cj-headertitle mrgtop cjText" placeholder="Description" />
        <div class="clearfix"></div>
      </div>

      <div class="boxes zerospace minhBox">
        <input type="text" name="amountofexpense" id="dyna_create_expensereport_amount" class="cj-headertitle mrgtop cjText" placeholder="Amount in Rs ." />
        <div class="clearfix"></div>
      </div>

<!--
      <div class="boxes zerospace minhBox">
          <fieldset>
                    
                  
                    <div class="form-group">
                      <label class="col-md-2 control-label"><span class="text-muted">Reciept</span></label>
                      <div class="col-md-10">
                        <input type="file" class="btn btn-info" id="dyna_create_expensereport_reciept">
                        
                      </div>
                    </div>
                    
                  </fieldset>
      
      </div>
  -->


  <!--changing file to receipt-->
        <div class="boxes zerospace minhBox">
        <input type="text" name="receiptofexpense" id="dyna_create_expensereport_receipt" class="cj-headertitle mrgtop cjText" placeholder="Receipt Id" />
        <div class="clearfix"></div>
      </div>


  <!---->    
      <button value="Submit" class="lbButton"  onclick="javascript:createTile('expensereport')" id="dyna_create_expensereport_submit">Submit
       </button>
      <div class="clearfix"></div>
   
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!--end of their pop up-->
