<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
</script>
<div id="dyna_dashboard" style="display: none;">



<div class="col-lg-12 scrib_head_db"> 
	<div>
		<div class="pull-left">
		<div class="scrib-x8" style="font-weight:bold;margin-bottom:10px">
			Dashboard
		</div></div>
		<div class="pull-right" id="scrib-dash-set">
		
		</div>
	</div>
	<br><br>

  <!--

    For Adding apps and linking workflow and to workspace.
  -->
	
		<ul id="list_view" class="media-list scrib_backgroundwhite scrib-lborder">

			<li class="media" id="chooser" style="background-color:#385472;height:40px;color:#fff;padding:7px;margin-bottom:2px;">Step 1. Choosing App / Form		
              <a href="#" class="btn btn-primary btn-sm pull-right"onclick="getapps()" role="button">+ New</a> </li>
 
<ol id="formselecting" class="media-list scrib_backgroundwhite scrib-lborder">
<div id="listofapps" class="media-list scrib_backgroundwhite scrib-lborder">  
      <script id="savedAppstemplate" type="text/x-handlebars-template">
      {{#each this}}
      <li class="media">
       <div class="row row-xs">
          <div>
            <div class="boxes zerospace">
              
              <span id="name1" class="scrib-x6 text-muted col-md-3" data-toggle="modal" data-target=".description2">
              	 
             <a style="color:black;cursor:pointer;">
              			{{appname}}
              	  </a>		
              </span>   
              <span><a role="button" onclick='selectMe1("{{appname}}","{{appid}}")'  class="btn btn-primary btn-xs" href="#">Choose</a></span>
              <p class="boxes zerospace ">
                      {{templateid}}
              </p>
            </div>
          </div>
        </div>
      </li>
              {{/each}}
    </script>
</div>
</ol>


            <li class="media" id="workflow"  style="background-color:#585858;height:40px;color:#fff;padding:7px;margin-bottom:2px;">
             Step 2. Choosing New Workflow		</li>
             <div id="flow" style="display:none;background-color:#fff;">

             <ul id="list_view" class="media-list scrib_backgroundwhite scrib-lborder">
            	<li class="media" data-target=".chooseFlow" data-toggle="modal">
              		<a href="#" class="btn btn-success btn-xs" role="button">+ New</a> 
              	</li>
       		 </ul>
        <!--	
              <a href="#" class="btn btn-primary btn-sm pull-right" data-target=".chooseFlow" data-toggle="modal" role="button">+ New</a> -->
       
        <ul id="trails"class="media-list scrib_backgroundwhite scrib-lborder">

<div id="workflowsSaved" class="media-list scrib_backgroundwhite scrib-lborder">  

      <script id="savedWorkflowstemplate" type="text/x-handlebars-template">
      {{#each this}}

      <li class="media">
       <div class="row row-xs">
          <div>
            <div class="boxes zerospace">
              
              <span id="name1" class="scrib-x6 text-muted col-md-3" data-toggle="modal" data-target=".description2">
              	  
 			<a style="color:black;cursor:pointer;" onclick='select("{{title}}","{{description}}")'>
              			{{title}}
              	  </a>	
              	 	<div id="def"> 
              	 	 <span style="position:relative;left:5px;">
        			<img src="/assets/images/greendot.png" height="10px" width="10px" alt="Start"/> <i style="opacity:0.5;font-size:12px;">Start</i>
      				  </span><br>
       
        
              	 	{{#definition}}

              	 		
           				<img  alt="Stage" height="15px" width="15px"style="margin:2px;padding:1px;"src="/assets/images/down.png"><br>
           				<span style="margin-right:30px;margin-left:10px;color:#000;font-size:13px;">
              	 		{{stagename}}
              	 		</span>
              	 		<span style="font-size:13px;color:#000;">
              	 		{{approvername}}
              	 		<br>
              	 		</span>
           				<img  alt="Stage" height="15px" width="15px" style="margin:2px;padding:1px;"src="/assets/images/down.png"><br>
              	 		
              	 		
              	 	{{/definition}}	
              	 	<span style="position:relative;left:5px;">
       				 <img src="/assets/images/reddot.png" height="18px" width="20px" style="margin-left:-5px;" alt="Stop">  
       				 <i style="opacity:0.5;font-size:12px;">Stop</i>
       				 </span>
              	 	</div>
              	 
              </span>   
              <span><a role="button" onclick='final1("{{title}}","{{wkfid}}")' class="btn btn-primary btn-xs" href="#">Choose</a></span>
              <p class="boxes zerospace ">
              		
              </p>
            </div>
          </div>
        </div>
      </li>
              {{/each}}
    </script>
</div>
</ul>
</div>

	<li id="laststep"style="background-color:#585858;height:40px;color:#fff;padding:7px;margin-bottom:2px;">
    Step 3. Adding App 
    </li>
    <div id="last" style="display:none;background-color:#fff;">
      <div style="padding-left:180px;padding-top:10px;font-size:15px;height:80px;">
        You have selected app and linked workflow to the selected app.
      </div>

      
        <div class="input-group col-lg-6" style="margin-bottom:15px;margin-top:-25px;margin-left:240px;">
             <span>
          <span class="scrib-x4">Add App to the Workspace : </span>
      <span id="dyna_activity_title" class="scrib-x6" >

      Activity Title  
    </span>
      </span>
        </div>
        <button type="submit" onclick="addapp();" style="border:0px;background:#385472;color:#fff;padding:8px;margin-left:350px;margin-bottom:10px;">
        Add App
      </button>
  	


 </ul>

<!--

=======>  End For Adding apps and linking workflow and to workspace.
-->

	<div>
		<div id="dyna_activity_title" class="scrib-x6" >
			Activity Title		
		</div>
		<div id="dyna_activity_desc" class="scrib-x2 text-muted">
			 Activity Description
		</div>		
	</div>	
</div>
<div class="clearfix"></div>
<div class="scrib_db_container ">
	<div class="clearfix"></div>
	<div id="dyna_activity_tilesSummary"></div>
	<div class="clearfix"></div>
	<div class="col-lg-12 scrib_head_db pull-left scrib-x6" > 
		Tasks / Activity members
	</div>
	<div class="clearfix"></div>			
	<div class="visible-xs hidden-sm hidden-md hidden-lg">
		<div class="dyna_activity_tasksSummary" style="max-width: 300px; width:100%;">
		</div>
	</div>
	<div class="visible-sm hidden-xs hidden-md hidden-lg">
		<div class="dyna_activity_tasksSummary" style="max-width: 970px; width:100%;">
		</div>
	</div>
	<div class="visible-md hidden-xs hidden-sm hidden-lg">
		<div class="dyna_activity_tasksSummary" style="max-width: 1160px; width:100%; ">
		</div>
	</div>
	<div class="visible-lg hidden-xs hidden-sm hidden-md">
		<div class="dyna_activity_tasksSummary" style="width:97.5%;">
		</div>
	</div>		

</div>
<div class="scrib_db_container activity_sett" id="ActivitySettings_dashboard">
</div>



</div>
