<div id="dyna_expensereport" style="display:none;">
<div style="padding-left:225px;padding-top:70px;">

  <span>
  <a style="padding-right:20px;" onclick="loadExpensereport()" href="#">
      Assigned To me
    </a></span><span>
    <a href="#" onclick="loadMyexpenses()">Applied Expense Reports</a></span>
</div>
<div id="Expenses" class="media-list scrib_backgroundwhite scrib-lborder" style="margin-top:100px;">  
<script id="expenseReports" type="text/x-handlebars-template">
{{#each this}}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scrib_tile_adjust" style="padding-left:225px;padding-right:225px;">
        <div class="panel">
          <div class="panel-heading">
            <div class="lft-taskmenu-cntr">
              <div class="scrib-tileblock"> 
                <div>
                  <div class="media-list">
                    <div class="media">
                      <div class="pull-left"> <img src="/assets/images/calvin.jpg" class="media-object scrib-tileavatar" alt="User"> </div>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-xs-12 scrib-header">
                            <div class="usr-details"> <a title="" data-original-title="" id="popoverOption" class="scrib_profile_popover" href="#" data-content="" rel="popover" data-placement="right" data-html="true">
                            
              <span class="scrib-x5"style="padding-right:10px;"><strong>{{username}}</strong></span></a>applied an expense report <br><span class="scrib-x2 text-muted">Shared privately  -  March 3, 2014</span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="scrib-x4" data-toggle="modal" data-target=".seeform">
                    <div class="scrib-bottomline"></div>
                  <a  style="color: black ; cursor:pointer; ">
                 <span class="scrib-x2 scrib-spacing text-muted">Date : </span>{{date}}<br/> <span class="scrib-x2 scrib-spacing text-muted">Description : </span>{{expense_description}}</br> 
                 <span class="scrib-x2 scrib-spacing text-muted">Amount : </span>{{amount}}</br>
                 <span class="scrib-x2 scrib-spacing text-muted">Receipt id : </span>{{receipt_id}}
                 </a>
                  </span><br>
                  <span class="text-muted scrib-x2">Status : pending; </span>
               <div class="scrib-bottomline"></div>
                </div>
                <div> <span class="scrib-x2 scrib-spacing text-muted">{{leave_description}}</span> 
                 
                </div>
                        <div class="scrib-bottomline"></div>

                  <button class="btn btn-success btn-sm" onclick='acceptleave("{{procid}}","true")'>Accept</button>
                  <button class="btn btn-danger btn-sm" onclick='acceptleave("{{procid}}","false")'>Reject</button>

              </div>

            </div>
          </div>
        </div>
      </div>


{{/each}}
</script>


</div>
</div>