
<div id="dyna_leaveform" style="display:none;">
 <div style="padding-left:225px;padding-top:70px;">

  <span>
  <a style="padding-right:20px;" onclick="loadLeaveform()" href="#">
      Assigned To me
    </a></span><span>
    <a href="#" onclick="loadMyleaves()">Applied Leaves</a></span>
</div>

<div id="Leaves" class="media-list scrib_backgroundwhite scrib-lborder" style="margin-top:10px;">  
<script id="leaveForms" type="text/x-handlebars-template">
{{#each this}}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scrib_tile_adjust" style="padding-left:225px;padding-right:225px;">
        <div class="panel">
          <div class="panel-heading">
            <div class="lft-taskmenu-cntr">
              <div class="scrib-tileblock"> 
                <div>
                  <div class="media-list">
                    <div class="media">
                      <div class="pull-left"> <img src="/assets/images/calvin.jpg" class="media-object scrib-tileavatar" alt="User"> </div>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-xs-12 scrib-header">
                            <div class="usr-details"> <a title="" data-original-title="" id="popoverOption" class="scrib_profile_popover" href="#" data-content="" rel="popover" data-placement="right" data-html="true">
                            
              <span class="scrib-x5"style="padding-right:10px;"><strong>{{userid}} </strong></span></a>

              {{#each appdata}}
              applied for a {{typeofleave}} <br><span class="scrib-x2 text-muted">Shared privately  -  March 3, 2014</span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                   
                  <span class="scrib-x4" data-toggle="modal" data-target=".seeform">
                                      <div class="scrib-bottomline"></div>
                  <a  style="color: black ; cursor:pointer; ">Purpose of the leave :<span class="scrib-x4 scrib-spacing text-muted"> {{purposeofleave}}</span> <br/> <span class="scrib-x4 scrib-spacing text-muted" style="margin-right:60px;">From : {{fromdate}} </span><span class="scrib-x4 scrib-spacing text-muted">To : {{todate}}</span>
                 </a>
                  </span>
                  <div>Description of Leave :<span class="scrib-x4 scrib-spacing text-muted">
                  {{descriptionofleave}}</span> 
                 </div>
                 {{/each}}
                 
                  <span class="text-muted scrib-x2">Status : {{status}} </span>
               <div class="scrib-bottomline"></div>

                  <button class="btn btn-success btn-sm" onclick='acceptleave("{{procid}}","true")'>Accept</button>
                  <button class="btn btn-danger btn-sm" onclick='acceptleave("{{procid}}","false")'>Reject</button>
               
                </div>
                


              </div>

            </div>
          </div>
        </div>
      </div>



{{/each}}
</script>


</div>

<div id="appliedLeaves" class="media-list scrib_backgroundwhite scrib-lborder" style="margin-top:10px;">  
<script id="appliedleaveForms" type="text/x-handlebars-template">
{{#each this}}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scrib_tile_adjust" style="padding-left:225px;padding-right:225px;">
        <div class="panel">
          <div class="panel-heading">
            <div class="lft-taskmenu-cntr">
              <div class="scrib-tileblock"> 
                <div>
                  <div class="media-list">
                    <div class="media">
                      <div class="pull-left"> <img src="/assets/images/calvin.jpg" class="media-object scrib-tileavatar" alt="User"> </div>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-xs-12 scrib-header">
                            <div class="usr-details"> <a title="" data-original-title="" id="popoverOption" class="scrib_profile_popover" href="#" data-content="" rel="popover" data-placement="right" data-html="true">
                            
              <span class="scrib-x5"style="padding-right:10px;"><strong>{{userid}} </strong></span></a>

              {{#each appdata}}
              applied for a {{typeofleave}} <br><span class="scrib-x2 text-muted">Shared privately  -  March 3, 2014</span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                   
                  <span class="scrib-x4" data-toggle="modal" data-target=".seeform">
                                      <div class="scrib-bottomline"></div>
                  <a  style="color: black ; cursor:pointer; ">Purpose of the leave :<span class="scrib-x4 scrib-spacing text-muted"> {{purposeofleave}}</span> <br/> <span class="scrib-x4 scrib-spacing text-muted" style="margin-right:60px;">From : {{fromdate}} </span><span class="scrib-x4 scrib-spacing text-muted">To : {{todate}}</span>
                 </a>
                  </span>
                  <div>Description of Leave :<span class="scrib-x4 scrib-spacing text-muted">
                  {{descriptionofleave}}</span> 
                 </div>
                 {{/each}}
                 
                  <span class="text-muted scrib-x2">Status : {{status}} </span>
              
                  
               
                </div>
                


              </div>

            </div>
          </div>
        </div>
      </div>



{{/each}}
</script>


</div>
</div>