<div id="dyna_recruitmentform" style="display:none;">
<div style="padding-left:225px;padding-top:70px;">

  <span>
  <a style="padding-right:20px;" onclick="loadRecruitmentform()" href="#">
      Assigned To me
    </a></span><span>
    <a href="#" onclick="loadMyrecruitments()">Applied Recruitment Forms</a></span>
</div>

<div id="Recruitments" class="media-list scrib_backgroundwhite scrib-lborder" style="margin-top:100px;">  
<script id="recruitmentForms" type="text/x-handlebars-template">
{{#each this}}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scrib_tile_adjust" style="padding-left:225px;padding-right:225px;">
        <div class="panel">
          <div class="panel-heading">
            <div class="lft-taskmenu-cntr">
              <div class="scrib-tileblock"> 
                <div>
                  <div class="media-list">
                    <div class="media">
                      <div class="pull-left"> <img src="/assets/images/calvin.jpg" class="media-object scrib-tileavatar" alt="User"> </div>
                      <div class="media-body">
                        <div class="row">
                          <div class="col-xs-12 scrib-header">
                            <div class="usr-details"> <a title="" data-original-title="" id="popoverOption" class="scrib_profile_popover" href="#" data-content="" rel="popover" data-placement="right" data-html="true">
                            
              <span class="scrib-x2">{{user_name}} </span></a>applied for a job <br><span class="scrib-x2 text-muted">Shared privately  -  March 3, 2014</span> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="scrib-x4" data-toggle="modal" data-target=".seeform">
                   <div class="scrib-bottomline"></div>
                   
                  <a  style="color: black ; cursor:pointer; ">
                 <span class="scrib-x2 scrib-spacing text-muted">Name of Applicant : </span> {{username_recruitment}}<br/> 
                 <span class="scrib-x2 scrib-spacing text-muted">From : </span>{{start_date}} </br> 
                 <span class="scrib-x2 scrib-spacing text-muted">Skill-set : </span>{{skillset}}</br>
                  <span class="scrib-x2 scrib-spacing text-muted">Experience : </span>{{experience}}</br>
                   <span class="scrib-x2 scrib-spacing text-muted">Contact Number : </span>{{contact_number}}
                 </a>
                  </span><br>
                  <span class="text-muted scrib-x2">Status : {{status}} </span>
                </div>
                <div> <span class="scrib-x2 scrib-spacing text-muted">{{leave_description}}</span> 
                  
                  
                </div>
                        <div class="scrib-bottomline"></div>

                  <button class="btn btn-success btn-sm" onclick='acceptleave("{{procid}}","true")'>Accept</button>
                  <button class="btn btn-danger btn-sm" onclick='acceptleave("{{procid}}","false")'>Reject</button>

              </div>

            </div>
          </div>
        </div>
      </div>
{{/each}}
</script>


</div>
</div>