<div class="modal fade AlignCenter description2" tabindex="-1" role="dialog" aria-labelledby="description2" aria-hidden="false">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header CJHeader">
        <button  type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div> <span class="CJpopupTitle1 scrib-x6">Description of Workflow</span> 
         </div>
      </div>
      <div class="model-inner-content">
      <div id="flowSaved">
         
        <ul>
          <label>Title : </label>
            <li id="savedtitle" style="margin-bottom: 20px; margin-left: 20px;">
            </li>  
        </ul>
            
         <ul>
          <label>Description :</label> 
            <li id="saveddescription" style="margin-bottom: 20px; margin-left: 20px;">
            </li> 
         </ul>   
        
      
        <div class="clearfix"></div>
       
        <div class="clearfix"></div>

   
          </script>
      </div>
      
    </div>
    </div>
  </div>
 
</div>